*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content:space-between;
    margin-top: 30px;
    margin-bottom: 16px;
    background: white;
}
.header .nav1{
    margin-left: 40px;
    margin-top: 32px;
    font-size: 12px;
}
.header .nav2{
   margin-left: 370px;
}
.header .nav3{
    margin-right: 40px;
    margin-top: 30px;
    font-size: 22px;
}
.header .box{
    margin-top: 25px;
    margin-left: 300px;
    margin-right: 30px;
}
.box input{
    border-radius: 15px;
    font-size: 15px;
    height: 40px;
}
.header hr{
    border: none;
    background: black;
    height: 1px;
}
.header2 ul{
    list-style: none;
    background: white;
    text-align: center;
    font-size: 23px;
}
.header2 ul li{
    display: inline-block;
    position: relative;
}
.header2 ul li a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}
.header2 ul li ul.dropdown li{
    display: block;
}
.header2 ul li ul.dropdown{
    width: 100%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
}
.header2 ul li:hover ul.dropdown{
    display: block;
    width: 700px;
    text-align: start;
}
.header3{
    margin-top: 15px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}
.section1{
    margin-top: 35px;
}
.card  img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.section2 {
    margin-top: 33px;
}
.section2 h1{
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: 12px;
}
.flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;
}
.card1  img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
} 
.card1 h2{
    text-align: center;
    font-size: 15px;
}  
.card1 h2 a{
    color:black;
    text-decoration: none;
}
.card1 h3{
    text-align: center;
    font-size: 17px;
    color: lightslategray;
    margin-top: 6px;
}
.card1 i{
    font-size: 14px;
}
.section3{
    margin-top: 65px;
    margin-left: 45px;
    margin-right: 45px;
}
.section3 img{
    height: 100%;
    width: 100%;
}
.section4{
    margin-top: 40px;
}
.section4 h1{
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: 12px;
}
.flex2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 20px;
}
.card2 img{
    height: 100%;
    width: 100%;
    border-radius: 4px;
}
.card2 h2{
    text-align: center;
    font-size: 15px;
}  
.card2 h2 a{
    color:black;
    text-decoration: none;
}
.card2 h3{
    text-align: center;
    font-size: 17px;
    color: lightslategray;
    margin-top: 6px;
    text-decoration: line-through;
}
.card2 i{
    font-size: 14px;
}
.section5{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    align-items: center;
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
.card3 img{
    width: 100%;
    height: 100%;
}
.footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 100px;
    background: #b5b5b5;
}
.footer .row{
    background:gainsboro;
    width: 26%;
    align-items: flex-start;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .row .fa-solid {
   color: brown;
   font-size: 45px;
   padding-top: 15px;
}  
.footer .footer1 .foot{
    display: flex;
    justify-content: space-around;
   
    align-items: start;
    margin-top: 25px;
}
.footer .footer1 .foot .col h2{
    font-size: 20px;
}
.footer .footer1 .foot .col ul li{
    list-style: none;
    margin-top: 30px;
    font-size: 15px;
}
.footer .footer1 .foot .col input{
    font-size: 15px;
    width: 200px;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
}
.btn{
    height: 40px;
    width: 70px;
    font-size: 15px;
    border-radius: 20px;
    background: black;
}
button{
    color: white;
}
.footer .footer1 .col h2::after{
    content: '';
    background: orangered;
    width: 90px;
    height: 3px;
    border-radius: 4px;
    position: absolute;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}
.footer1{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.footer1 .foot1{
    text-align: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}
.footer1 .foot1 hr{
    border: none;
    background: black;
    height: 1px;
    width: 950px;
    margin-bottom: 7px;
}
@media (max-width: 768px){
    .header {
        font-size: 6px;
        margin-left: 0;
        
       align-items: start;
      
        
        
    }

    .header .nav2  img {
       
        margin-top: 7px;
        align-items: flex-start;
        
    }
    .header .nav3{
        align-items: end;

    }
    .header .box  {
       display: none;
        
       
    }
    .header .box i{
        align-items: end;
        font-size: 10px;
    }

    .footer  {
        font-size: 15px;
       
        color: black;
        align-items: start;
        text-align: start;
        justify-content: space-between;
        display:flex;
        flex-direction: column;
    }
    
   .footer .footer1 .col ul{
    display: none;
   }
   .footer .footer1 .foot{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
   }
   .footer .footer1 .foot  .col h2{
    margin-top: 30px;

   }
   .footer {
    display: flex;
    justify-content: space-between;
   }
}
 /* Tablet view */
/*@media (max-width: 425px) {
    .header {
       
       
        align-items: center;
    }
    .header .nav1, .header .nav2, .header .nav3 {
        margin: 10px 0;
        font-size: 14px;
    }
    .box {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .flex, .flex1, .flex2 {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer .foot {
        width: 50%;
        margin-bottom: 20px;
        flex-direction: column;
        margin-left: 380px;
       
    }
    .footer .footer .foot .col  h2{
        font-size: 15px;
        margin: 15px 0;
        color: black;
        text-align: center;
        margin-top: 20px;
    }
   
}

/* Mobile view */
@media (max-width: 425px) {
    .header {
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .header .nav1, .header .nav2, .header .nav3 {
        font-size: 12px;
    }
    .box input {
        font-size: 14px;
        height: 35px;
    }
    .section2 h1, .section4 h1 {
        font-size: 20px;
    }
    .card1 h2, .card2 h2 {
        font-size: 14px;
    }
    .card1 h3, .card2 h3 {
        font-size: 15px;
    }
    .footer .row {
        width: 90%;
       
    }
    .footer .footer1 .foot {
        flex-direction: column;
        align-items: center;
    }
    .footer .footer1 .foot .col {
        text-align: center;
    }
}